<div class="container-fluid pt-3">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'home']" [routerLinkActive]="'active'">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'multi-select']" [routerLinkActive]="'active'">Multi select</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'dynamic-form']" [routerLinkActive]="'active'">Dynamic form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'dynamic-section']" [routerLinkActive]="'active'">Dynamic section</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'designare']" [routerLinkActive]="'active'">Designare</a>
        </li>
    </ul>
    <div class="border-start border-end border-bottom p-3 mb-3">

        <router-outlet></router-outlet>

    </div>


</div>